<!-- Footer -->
<br /><br /><br />
<footer>
  <br /><br />
  <div class="container">
    <div class="row text-center">
      <p>Copyright &copy: tech villen</p>
    </div>
    <br />

    <div class="row text-center icon">
      <div class="col">
        <a class="m-3" target="_blank" href="https://mahmud.vercel.app">
          <i class="fas fa-user-circle fa-2x"></i>
        </a>

        <a class="m-3" target="_blank" href="https://www.facebook.com/TechVillain.007">
          <i class="fab fa-facebook fa-2x"></i>
        </a>

        <a class="m-3" target="_blank" href="https://www.youtube.com/channel/UCJCdq7lWqB7M5b16UatoTEw">
          <i class="fab fa-youtube fa-2x"></i>
        </a>

        <a class="m-3" target="_blank" href="https://www.linkedin.com/in/mahmudjewel">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a class="m-3" target="_blank" href="https://github.com/MahmudJewel">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a class="m-3" target="_blank" href="https://www.hackerrank.com/DJ_cse">
          <i class="fab fa-hackerrank fa-2x"></i>
        </a>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />
  </div>
</footer>