
<!-- navigations  -->
<nav class="navbar navbar-expand-lg fixed-top shadow  navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand brandcolor ms-5" href="/">Tech Villen</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item me-2 mb-lg-0 mb-3">
            <a class=" btn " aria-current="page" href="">Nav1</a>
          </li>

          <li class="nav-item me-2 mb-lg-0 mb-3">
            <a class=" btn " aria-current="page" href="">Nav2</a>
          </li>
        </ul>
        <form class="d-flex" method="post" action="/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"
            value="{{search}}" />
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>